.processpara{
    color: #777;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
}
.processhead{
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
}