.title{
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: center; 
}
.content{
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 60px;
    text-align: center;
}
.line{
    background: linear-gradient(45deg,#3060e5,#048eea 45%,#3ee09f);
    border-bottom-width: 3px;
    display: block;
    height: 3px;
    margin: 5px auto 20px;
    width: 50px;
}
